{{ $dateTime := .PublishDate.Format "2006-01-02" }}
{{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}
<time datetime="{{ $dateTime }}">{{ .PublishDate.Format $dateFormat }}</time>
{{ with .Params.categories }}
{{ range . }}
{{ $href := print (absURL "blog/categories/") (urlize .) }}
<a class="tags" href="{{ $href }}">{{ . }}</a>
{{ end }}
{{ end }}
<h1><a  class="title" href="{{ .RelPermalink }}">{{ .Title }}</a></h1>

<a class="summary" href="{{ .RelPermalink }}">
	<p>{{ .Params.excerpt }}</p>
</a>